* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

img {
  display: block;
}

/*----------------header---------------*/

.header-section__btn {
  background: #222222;
  border: none;
  cursor: pointer;
}

.header-section__icon {
  cursor: pointer;
}

.header {
  height: 75px;
  margin: 0 auto;
  background-color: #222222;
  display: flex;
  align-items: center;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.header-section__box-icon_one {
  display: flex;
  gap: 41px;
  align-items: flex-end;
}

.header-section__box-icon_two {
  display: flex;
  gap: 33px;
  position: relative;
}

.header-section__number-five {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-family: "Lato-Regular";
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  border-radius: 50px;
  right: -8px;
  top: -6px;
}

.header-box__cursor {
  cursor: pointer;
}

/*-----------------main-----------------*/
.main-section__one {
  display: flex;
  background-color: #f1e4e6;
}

.section-one__block {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 290px;
  margin-left: 92px;
  height: 92px;
}

.section-one__block h2 {
  font-weight: 900;
  font-size: 48px;
  color: #222;
  font-family: "Lato-Bold";
}

.section-one__block h4 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Lato-Bold";
}

.section-one__block span {
  font-weight: 700;
  font-size: 32px;
  color: #f16d7f;
}

.main-section__two {
  display: grid;
  grid-template-areas:
    "a b c"
    "d d d";
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 260px 180px;
  gap: 30px;
  padding-top: 65px;
}

.section-two__box-one {
  grid-area: a;
  background-image: url(./image/for-women.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-two__box-two {
  grid-area: b;
  background-image: url(./image/for-men.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two__box-three {
  grid-area: c;
  background-image: url(./image/for-kids.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two__box-four {
  grid-area: d;
  background-image: url(./image/accesories.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-family: "Lato-Bold";
}

.section-two__title {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
  font-family: "Lato-Bold";
}

.section-three__head {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #222;
  font-family: "Lato-Regular";
}

.section-three__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
  font-family: "Lato-Regular";
  margin-bottom: 48px;
}
.main-section__three {
  margin-top: 96px;
}

.section-three__box-grid {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 587px);
  row-gap: 30px;
  column-gap: 25px;
}

.box-grid__content {
  padding: 24px 29px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8f8f8;
}

.box-grid__content h3 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
  font-family: "Lato-Regular";
}

.box-grid__content p {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  font-family: "Lato-Ligt";
}

.box-grid__content h4 {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  font-family: "Lato-Regular";
}

.section-three__button {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.section-three__btn {
  margin-bottom: 60px;
  cursor: pointer;
  border: 1px solid #f26376;
  padding: 15px 39px;
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #f26376;
}

.main-section-four {
  background-color: #222224;
  padding: 104px 230px 104px 230px;
}

.section-four__boxes {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section-four__boxes img {
  margin: 0 auto;
}

.section-four__boxes h3 {
  margin-top: 28px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  color: #fbfbfb;
  font-family: "Lato-Regular";
}

.section-four__boxes p {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #fbfbfb;
  font-family: "Lato-Ligt";
}

.main-section__five {
  background-image: url(./image/section-five-background.png);
  background-size: cover;
  height: 448px;
}

.main-section__five {
  display: flex;
  align-items: center;
}

.section-five__contents {
  display: flex;
  justify-content: space-between;
}

.section-five__content img {
  margin: 0 auto;
}

.section-five__content p {
  font-family: "Lato-Italic";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.section-five__form h2 {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.section-five__form h3 {
  text-align: center;
  color: #222224;
  font-weight: 400;
  font-size: 18px;
  font-family: "Lato-Bold";
}

.section-five__form-block {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  height: 49px;
}

.section-five__form-block input {
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  font-family: "Lato-Regular";
  background-color: #e1e1e1;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 22px;
  padding-right: 64px;
}

.section-five__form-block button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #f16d7f;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato-Regular";
  cursor: pointer;
  padding: 7px;
}

/*************footer***************/

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222224;
}

.section-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-footer p {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
}

.section-footer__box-icon {
  display: flex;
  gap: 8px;
}

.section-footer__box-icon {
  cursor: pointer;
}
